<!DOCTYPE html>
<html>
  <head>
    <title>Salvo</title>
    <link rel="stylesheet" href="styles/games_style.css" />
  </head>

  <body class="home">
    <div class="containerHome" id="app">
      <!---MUSIC------------------------------------------------------------------------------------>
      <audio src="./assets/intro.mp3" id="introSong"></audio>

      <!---TITLE------------------------------------------------------------------------------------>
      <div class="titleDiv">
        <img src="./assets/taco_galactica_title.gif" alt="" draggable="false" />
      </div>

      <!---MENU + TABLE DIV WITH FLEX ------------------------------------------------------------------------------------>
      <div class="menu_table_div">
        <!---menu------------------------------------------------------------------------------------>
        <div class="menu">
          <h2>Welcome {{ player.Username }}</h2>
          <img src="./assets/tacoLarge.png" id="menuTaco" draggable="false" />
          <button v-on:click="newGame" id="menuBtns">New Game</button>
          <button v-on:click="muteMusic('introSong')" id="menuBtns">
            Mute music
          </button>
          <button v-on:click="logout" id="menuBtns">Logout</button>
        </div>

        <!--- logged in player games------------------------------------------------------------------------------------>
        <div class="container">
          <div
            class="button"
            v-on:click="shiftLeft"
            v-on:keyup.left="shiftLeft"
          ></div>
          <div class="cards-wrapper">
            <ul class="cards__container">
              <li class="box" v-for="game in playerGames" :key="game.id">
                <div class="gameDiv">
                  <div class="gameSection" id="gameIdDate">
                    <h2>{{ game.id }}</h2>
                    <h5>{{ game.created }}</h5>
                  </div>
                  <img src="./assets/fighting.png" id="fightIcon" />
                  <!-- players divs -->
                  <div
                    class="gameSection"
                    id="playerUsername"
                    v-if="game.gamePlayers.length == 2"
                    v-for=" gamePlayer in game.gamePlayers"
                  >
                    <h2>{{ gamePlayer.Player.Username }}</h2>
                  </div>

                  <div
                    class="gameSection"
                    id="playerUsername"
                    v-if="game.gamePlayers.length == 1"
                  >
                    <h2>{{ game.gamePlayers[0].Player.Username }}</h2>
                  </div>
                  <div
                    class="gameSection"
                    id="playerUsername"
                    v-if="game.gamePlayers.length == 1"
                  >
                    <h2>Waiting for opponent</h2>
                  </div>
                  <!-- players divs end -->

                  <div id="gameBtn" class="gameSection">
                    <button
                      v-for=" gamePlayer in game.gamePlayers"
                      v-if="player.Username != null && player.Username == gamePlayer.Player.Username "
                      v-on:click="openGame(game.id)"
                    >
                      Go to Game
                    </button>
                    <button
                      v-for=" gamePlayer in game.gamePlayers"
                      v-if="player.Username != null && player.Username != gamePlayer.Player.Username && game.gamePlayers.length == 1 "
                      v-on:click="join(game.id)"
                    >
                      Join
                    </button>
                  </div>
                </div>
              </li>
              <li class="box">
                <div class="gameDiv"></div>
              </li>
              <li class="box">
                <div class="gameDiv"></div>
              </li>
              <li class="box">
                <div class="gameDiv"></div>
              </li>
              <li class="box">
                <div class="gameDiv"></div>
              </li>
            </ul>
          </div>
          <div
            class="button"
            v-on:click="shiftRight"
            v-on:keyup.39="shifRight"
          ></div>
        </div>
        <!---games end------------------------------------------------------------------------------------>
      </div>
      <!-- SECOND TABLE-->
      <div class="gamesTable">
        <h2>All games</h2>
        <table class="secondTable">
          <thead>
            <tr>
              <td>Game</td>
              <td>Date</td>
              <td>Player One</td>
              <td>Player Two</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="game in gameList.games" :key="game.id" id="rowTable">
              <td>{{ game.id }}</td>
              <td>{{ game.created }}</td>

              <td
                class="gameSection"
                v-if="game.gamePlayers.length == 2"
                v-for=" gamePlayer in game.gamePlayers"
              >
                {{ gamePlayer.Player.Username }}
              </td>

              <td class="gameSection" v-if="game.gamePlayers.length == 1">
                {{ game.gamePlayers[0].Player.Username }}
              </td>
              <td class="gameSection" v-if="game.gamePlayers.length == 1">
                Waiting for opponent
              </td>
              <td id="gameBtn">
                <button
                  v-for=" gamePlayer in game.gamePlayers"
                  v-if="player.Username != null && player.Username == gamePlayer.Player.Username "
                  v-on:click="openGame(game.id)"
                >
                  Go to Game
                </button>
                <button
                  v-for=" gamePlayer in game.gamePlayers"
                  v-if="player.Username != null && player.Username != gamePlayer.Player.Username && game.gamePlayers.length == 1 "
                  v-on:click="join(game.id)"
                >
                  Join
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- games table div ends under-->
      </div>
      <!-- menu div ends under -->

      <!-- vue app div ends under -->
    </div>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="scripts/games.js"></script>
  </body>
</html>
