<!DOCTYPE html>

<html>
  <head>
    <title>Salvo</title>
    <link rel="stylesheet" href="styles/games_style.css" />
  </head>

  <body class="home">
    <div class="containerHome" id="app">
      <!---MUSIC------------------------------------------------------------------------------------>

      <audio src="./assets/intro.mp3" id="introSong"></audio>

      <!---TITLE------------------------------------------------------------------------------------>
      <div class="titleDiv">
        <img src="./assets/taco_galactica_title.gif" alt="" draggable="false" />
      </div>

      <!---MENU + TABLE DIV WITH FLEX ------------------------------------------------------------------------------------>
      <div class="menu_table_div">
        <!---menu------------------------------------------------------------------------------------>
        <div class="menu">
          <h2>Welcome {{ player.Username }}</h2>
          <img src="./assets/tacoLarge.png" id="menuTaco" draggable="false" />
          <button v-on:click="newGame" id="menuBtns">New Game</button>
          <button v-on:click="muteMusic('introSong')" id="menuBtns">
            Mute music
          </button>
          <button v-on:click="logout" id="menuBtns">Logout</button>
        </div>
        <div class="secondTableDiv">
          <h2 id="gamesTableTitle">games</h2>
          <table
            class="secondtable"
            style="
    color: #d7c826;
    background-color: #3f2a47;
    background-color: #3f2a47;
    background-image: linear-gradient(326deg, #3f2a47 0%, #FD279E 185%);
    border: solid #d7c826 3px;
    border-radius: 10px;
"
          >
            <thead>
              <tr>
                <td>Game</td>
                <td>Date</td>
                <td>Player One</td>
                <td>Player Two</td>
                <td></td>
              </tr>
            </thead>
            <tbody class="tbodyGamesTable">
              <tr v-for="game in gameList.games" :key="game.id" id="rowTable">
                <td>{{ game.id }}</td>
                <td>{{ game.created }}</td>

                <!-- both players -->
                <td v-if="game.gamePlayers.length == 2">
                  {{ game.gamePlayers[0].Player.Username }}
                </td>
                <td v-if="game.gamePlayers.length == 2">
                  {{ game.gamePlayers[1].Player.Username }}
                </td>
                <!-- one player-->
                <td v-if="game.gamePlayers.length == 1">
                  {{ game.gamePlayers[0].Player.Username }}
                </td>
                <td v-if="game.gamePlayers.length == 1">
                  Waiting for opponent
                </td>
                <td>
                  <button
                    style="color: black; background-color: transparent;"
                    v-for=" gamePlayer in game.gamePlayers"
                    v-if="player.Username != null && player.Username == gamePlayer.Player.Username "
                    v-on:click="openGame(game.id)"
                  >
                    Go to Game
                  </button>
                  <button
                    style="color: black; background-color: transparent;"
                    v-for=" gamePlayer in game.gamePlayers"
                    v-if="player.Username != null && player.Username != gamePlayer.Player.Username && game.gamePlayers.length == 1 "
                    v-on:click="join(game.id)"
                  >
                    Join
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- games table div ends under-->
        </div>
      </div>
      <!-- SECOND TABLE-->

      <!-- menu div ends under -->

      <!-- vue app div ends under -->
    </div>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="scripts/games.js"></script>
  </body>
</html>
